junkPlayground/Library/*
junkPlayground/Temp/*
junkPlayground/deploy/junk_Data/*
junkPlayground/deploy/junk.exe
OrganismGen/Library/*
OrganismGen/Temp/*
NodeCollective/Library/*
NodeCollective/Temp/*
*.csproj
*.pidb
*.unityproj
*Thumbs.db
*Thumbs.db.meta
*.sln
*.suo
*.userprefs
*.cache

